:root {
    --color-primary: rgb(0, 150, 136);
    --color-secondary: rgb(217, 219, 212);
    --font-family: 'Open Sans', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--font-family);
  }
  
  #app {
    height: 100vh;
  }
  
  .greenBlue {
    height: 15vh;
    background-color: var(--color-primary);
  }
  
  .grey {
    background-color: var(--color-secondary);
    height: 85vh;
  }
  
  .container {
    display: flex;
    height: 95vh;
    padding-top: 5vh;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .columnLeft {
    overflow: auto;
    padding-left: 1rem;
  }
  
  .columnRight {
     overflow-y: scroll;
  width: 65%;
  background-image: url(../img/mine.jpg);
  position: relative;
  padding-bottom: 5rem;
  }
  
  .avatar {
    width: 3rem;
    background-color: white;
    border-radius: 50%;
  }
  
  .my {
    padding-right: 14rem;
  }
  
  .livechat {
    margin-right: 40rem;
  }
  
  .row {
    padding: 1rem;
  }
  
  .firstRow {
    background-color: rgb(234, 234, 234);
  }
  
  .secondRow {
    background-color: rgb(142, 218, 252);
  }
  
  .icon {
    padding-left: 1rem;
  }
  
  .fa-bell-slash {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
  }
  
  .notifiche {
    padding-left: 3rem;
    color: grey;
  }
  
  .input-group {
    background-color: white;
    width: 100%;
  }
  
  .msg {
    color: rgb(194, 191, 191);
    padding-left: 3rem;
    font-size: 13px;
  }
  
  .time {
    float: right;
    color: rgb(194, 191, 191);
  }
  
  .utenti {
    background-color: white;
    list-style: none;
  }
  
  .nuova-chat {
    width: 100%;
  }
  
  .inviati {
    float: right;
    border-radius: 10%;
    background-color: red;
    padding: 1rem;
    line-height: 3rem;
  }
  
  .ricevuti {
    margin-left: 2rem;
  }
  
  .chat-column {
    list-style: none;
    line-height: 4rem;
  }
  
  .bg-success {
    float: right;
    margin-right: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .bg-light {
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .ora {
    font-size: 8px;
    color: rgb(233, 229, 229);
  }
  
  .message-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 234, 234);
    position: fixed;
    bottom: 2rem;
    padding: 1rem;
    width: 54%;
  }
  
  .nuovo-msg {
    width: 90%;
    
  }
  
  .fa-face-smile, .fa-microphone {
    margin-left: 1rem;
    margin-right: 1rem;

  }
















  