* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#app {
    height: 100vh;
}

.greenBlue {
    height: 15vh;
    background-color: rgb(0, 150, 136);
}

.grey {
    background-color: rgb(217, 219, 212);
    height: 85vh;
}

.container {
    display: flex;
    height: 95vh;
    padding-top: 5vh;
    margin-left: 10rem;
    margin-right: 15rem;
}

.columnLeft {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-left: 1rem;
}

.columnRight {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 65%;
    background-image: url(../img/mine.jpg);
}

.avatar {
    width: 3rem;
    background-color: white;
    border-radius: 50%;
}

.myself {
    padding-right: 14rem;
}

.firstRow {
    background-color: rgb(234, 234, 234);
}

.fa-message,
.fa-paperclip,
.fa-ellipsis-vertical {
   padding-left: 1rem;
}

.firstRow {
    padding-top: 1rem;
}

.secondRow {
    background-color: rgb(142, 218, 252);
}

.fa-bell-slash {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.notifiche {
    padding-left: 3rem;
    color: grey;
}

.msg {
    color: rgb(194, 191, 191);
    padding-left: 3rem;
    font-size:13px;
}

.time {
   float: right;
   color: rgb(194, 191, 191);
}

.utenti {
    background-color: white;
    list-style: none;

}

.fa-magnifying-glass{
    padding-left: 25rem;
}
.input{
    width: 90%;
}